<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png" />
    <link rel="icon" href="./static/assets/favicon.ico" />

    <title>Project Page</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="./static/main.3f6952e4.css" />
    <link rel="stylesheet" href="./static/style.css" />
    <style>
      .zone {
        padding: 10px 30px;
        margin: 20px 10px;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        font-size: 1.5em;
        border-radius: 4px;
        border: 1px solid #bbb;
        transition: all 0.3s linear;
      }

      .zone:hover {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      }

      .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
      }

      .no-underline {
        text-decoration: none;
        font-family: Arial;
      }

      .green {
        background: linear-gradient(to bottom, #56b870 0%, #a5c956 100%);
      }

      .red {
        background: linear-gradient(to bottom, #c655be 0%, #cf0404 100%);
      }

      .yellow {
        background: linear-gradient(to bottom, #f3aaaa 0%, #febf04 100%);
      }

      .blue {
        background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
      }

      .purple {
        background: linear-gradient(to bottom, #c78cff 0%, #a35ae7 44%, #7a2fc4 100%);
      }
    </style>
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="main-nav">
              <li class="zone green">
                <a href="./index.html" class="no-underline"><strong>Home</strong></a>
              </li>
              <li class="zone red">
                <a href="./about.html" class="no-underline"><strong>About Me</strong></a>
              </li>
              <li class="zone blue">
                <a href="./works.html" class="no-underline"><strong>Projects</strong></a>
              </li>
              <li class="zone purple">
                <a href="./skills.html" class="no-underline"><strong>Skills</strong></a>
              </li>
              <li class="zone yellow">
                <a href="./contact.html" class="no-underline"><strong>Contact</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <p></p>
              <h2 class="h3"></h2>
              <p></p>
              <p>Explore my journey in IT, design, and smart tech through these projects. From dynamic web applications to advanced data analysis, each project highlights my skills in development, machine learning, and system design.</p>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel" class="carousel slide projects-carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="https://ademoyosoreoluwa.github.io/game/" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/games.png" alt="Game Project" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/019</h4>
                        <h3>Game</h3>
                        <p>
                          This interactive game, built with React, HTML5, CSS, and JavaScript, offers a simple and enjoyable user experience. Its clean design makes it intuitive for players, and it works smoothly across devices. The game
                          allows easy resets, making it accessible to users of all ages.
                        </p>
                        <a href="https://ademoyosoreoluwa.github.io/game/" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://ademoyosoreoluwa.github.io/joke_teller/" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/works-r.png" alt="Joke Teller Project" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/019</h4>
                        <h3>Joke Teller</h3>
                        <p>
                          This is an engaging, entertaining, and interactive joke-telling tool using HTML5, CSS, and JavaScript. It features a clean design with a user-friendly button interface for delivering jokes with voice narration. The
                          site is optimized for responsive, seamless functionality across different devices.
                        </p>
                        <a href="https://ademoyosoreoluwa.github.io/joke_teller/" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://ademoyosoreoluwa.github.io/picture_in_picture/" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/works-q.png" alt="Picture In Picture Project" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/019</h4>
                        <h3>Picture in Picture Tool</h3>
                        <p>
                          This project is a elegant, dynamic, and interactive Picture-in-Picture tool using HTML5, CSS, and JavaScript. It features a clean design with a user-friendly button interface for activating Picture-in-Picture mode.
                          The site is optimized for responsive, seamless functionality across different devices.
                        </p>
                        <a href="https://ademoyosoreoluwa.github.io/picture_in_picture/" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="https://ademoyosoreoluwa.github.io/template/" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/works-p.png" alt="Quote Generator Project" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>004/019</h4>
                        <h3>Quote Generator</h3>
                        <p>
                          This project is an elegant, dynamic, and interactive quote generator built with HTML5, CSS, and JavaScript. It features a clean design and seamless social media sharing options. The site is optimized for a
                          responsive user experience.
                        </p>
                        <a href="https://ademoyosoreoluwa.github.io/template/" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://ademoyosoreoluwa.github.io/medicals/" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/works-o.png" alt="Medical Project" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>005/019</h4>
                        <h3>Robust Medical Data Tracking and Management</h3>
                        <p>
                          This project provides a robust system for tracking and managing medical user data. Built with HTML5, CSS, and JavaScript, it features comprehensive profiles and efficient documentation, ensuring a user-friendly and
                          visually appealing experience.
                        </p>
                        <a href="https://ademoyosoreoluwa.github.io/medicals/" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://meezconcept.com" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/works-n.png" alt="Meez Concept Project" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>006/019</h4>
                        <h3>Meez Concept Services Website</h3>
                        <p>
                          Involves developing interactive websites and web applications using HTML5, CSS, and JavaScript. These technologies enable the creation of dynamic user interfaces, handle client-side logic, and ensure responsive
                          design and effective styling.
                        </p>
                        <a href="https://meezconcept.com" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/portfo" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-a.png" alt="Web Development Portfolio" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>007/019</h4>
                        <h3>My Web Development Portfolio</h3>
                        <p>Involves creating interactive websites and web applications. Frameworks such as Django and Flask facilitate this by providing tools for routing, database management, and rendering templates.</p>
                        <a href="https://soreade.com/" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/passwordchecker.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-b.png" alt="Password Checker" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>008/019</h4>
                        <h3>Secure Password Checker Utilizing Hashing</h3>
                        <p>
                          Boosts security by converting passwords to hash values rather than storing them in plain text.During authentication,the hashed input password is compared to the stored hash,aiding in preventing unauthorized access
                          and tracking breach incidents.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/passwordchecker.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/ML----Alzheimer-s-Disease-Detection-Model" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/hallezt.png" alt="Alzheimer's Prediction Model" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>009/019</h4>
                        <h3>Machine Learning-Based Alzheimer's Disease (AD) Prediction Model</h3>
                        <p>
                          An Alzheimer's Disease (AD) Prediction Model using machine learning in R analyzes data to predict the likelihood of developing AD. This model aids in early diagnosis and personalized treatment by identifying key
                          patterns and risk factors.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/ML----Alzheimer-s-Disease-Detection-Model" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/Translator.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-d.png" alt="Language Translation Tool" class="img-responsive" />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>010/019</h4>
                        <h3>Language Translation Tool</h3>
                        <p>
                          This converts text between languages using sophisticated algorithms. It employs natural language processing and machine learning for precise translations. This tool aids in seamless communication across various
                          languages.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/Translator.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Seed-Classification-Using-Geometric-Measurements-with-Data-Analytics-Model" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-e.png" alt="Seed Classification Model" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>011/019</h4>
                        <h3>Seed Classification Model</h3>
                        <p>
                          This utilizes data science to differentiate between seed types based on their characteristics. By analyzing features like size, shape, and texture, it accurately identifies various seed varieties. This aids in
                          agricultural management and quality assurance.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Seed-Classification-Using-Geometric-Measurements-with-Data-Analytics-Model" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/Resizeimage.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-f.png" alt="Image Editor" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>012/019</h4>
                        <h3>Image Editor Created with a Programming Language</h3>
                        <p>
                          This is built with a programming language enables users to modify and improve digital images. It offers functionalities like cropping, resizing, applying filters, and adjusting colors. It is created using coding
                          techniques to efficiently handle various image processing tasks.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/Resizeimage.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/sender_email.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-g.png" alt="Email Sending Tool" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>013/019</h4>
                        <h3>Email Sending Tool Using Python</h3>
                        <p>
                          An Email Sending Tool using Python automates email dispatch through code. It leverages libraries like smtplib and email to create and send messages, including attachments and HTML content. This tool streamlines
                          tasks such as bulk emailing, notifications, and automated responses.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/sender_email.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/tweettweet.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-h.png" alt="X Automation Bot" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>014/019</h4>
                        <h3>X Automation Bot</h3>
                        <p>
                          It is designed to streamline and automate repetitive tasks. It performs predefined actions based on user commands or scheduled triggers. This bot increases efficiency by managing routine processes automatically.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/tweettweet.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/watermarkpdf.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-i.png" alt="Embed Watermark in Document" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>015/019</h4>
                        <h3>Embed Watermark in Document</h3>
                        <p>
                          Embedding a watermark in a document involves adding a translucent text or image overlay. This watermark provides authenticity, copyright protection, or branding. It helps identify the document's origin and
                          discourages unauthorized use or distribution.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/watermarkpdf.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/scrape.py" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-j.png" alt="Web Data Extraction" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>016/019</h4>
                        <h3>Web Data Extraction</h3>
                        <p>
                          This uses automated tools to gather information from websites. These tools systematically navigate pages and collect specific data like text, images, and links. This technique is valuable for research, market
                          analysis, and large-scale data collection from online sources.
                        </p>
                        <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/scrape.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="http://dx.doi.org/10.13140/RG.2.2.31474.89280" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-k.png" alt="Smart Factory Model" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>017/019</h4>
                        <h3>Smart Factory Model for Automated Production Line</h3>
                        <p>
                          This automated production line leverages robotics to optimize manufacturing operations. Robots perform repetitive tasks with high accuracy and efficiency, reducing the need for manual labor. This system improves
                          productivity, reduces errors, and enables real-time monitoring and adjustments.
                        </p>
                        <a href="http://dx.doi.org/10.13140/RG.2.2.31474.89280" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="http://dx.doi.org/10.13140/RG.2.2.14278.24648" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-l.png" alt="Femoral Prosthesis" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>018/019</h4>
                        <h3>Design of Femoral Prosthesis</h3>
                        <p>
                          This involves creating an artificial replacement for the femur, often used in hip replacement surgeries. This process includes anatomical modeling, material selection, and engineering to ensure a good fit,
                          functionality, and longevity. The aim is to restore mobility and enhance the quality of life for patients with femoral issues.
                        </p>
                        <a href="http://dx.doi.org/10.13140/RG.2.2.14278.24648" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="http://dx.doi.org/10.13140/RG.2.2.36508.05766" class="black-image-project-hover" target="_blank">
                        <img src="./static/assets/images/work-m.png" alt="Enhanced Valve Design" class="img-responsive" />
                      </a>
                      <div class="card-container">
                        <h4>019/019</h4>
                        <h3>Enhanced Valve Design</h3>
                        <p>
                          This simulates and optimizes valve designs by examining stress, strain, and other physical factors. CNC programming converts these optimized designs into exact machining instructions for production. This ensures
                          the manufacture of high-performance valves with enhanced precision and efficiency.
                        </p>
                        <a href="http://dx.doi.org/10.13140/RG.2.2.36508.05766" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>
                      </div>
                    </div>
                    <!--<div class="col-sm-4">-->
                    <!--  <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/tweettweet.py" class="black-image-project-hover" target="_blank">-->
                    <!--    <img src="./static/assets/images/work-h.png" alt="X Automation Bot" class="img-responsive" />-->
                    <!--  </a>-->
                    <!--  <div class="card-container">-->
                    <!--    <h4>020/019</h4>-->
                    <!--    <h3>X Automation Bot</h3>-->
                    <!--    <p>-->
                    <!--      It is designed to streamline and automate repetitive tasks. It performs predefined actions based on user commands or scheduled triggers. This bot increases efficiency by managing routine processes automatically.-->
                    <!--    </p>-->
                    <!--    <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/tweettweet.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4">-->
                    <!--  <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/watermarkpdf.py" class="black-image-project-hover" target="_blank">-->
                    <!--    <img src="./static/assets/images/work-i.png" alt="Embed Watermark in Document" class="img-responsive" />-->
                    <!--  </a>-->
                    <!--  <div class="card-container">-->
                    <!--    <h4>021/019</h4>-->
                    <!--    <h3>Embed Watermark in Document</h3>-->
                    <!--    <p>-->
                    <!--      Embedding a watermark in a document involves adding a translucent text or image overlay. This watermark provides authenticity, copyright protection, or branding. It helps identify the document's origin and-->
                    <!--      discourages unauthorized use or distribution.-->
                    <!--    </p>-->
                    <!--    <a href="https://github.com/ademoyosoreoluwa/Password_Checker/blob/main/Code/watermarkpdf.py" class="btn btn-default" target="_blank" rel="noopener noreferrer">Discover</a>-->
                    <!--  </div>-->
                    <!--</div>-->
                  </div>
                  <!--/row-->
                </div>

                <!--/item-->
              </div>
              <!--/carousel-inner-->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"> < </a>

              <a class="right carousel-control" href="#myCarousel" data-slide="next"> > </a>

              <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
              <!--  <span class="glyphicon glyphicon-chevron-left"></span>-->
              <!--  <span class="sr-only">Previous</span>-->
              <!--</a>-->
              <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
              <!--  <span class="glyphicon glyphicon-chevron-right"></span>-->
              <!--  <span class="sr-only">Next</span>-->
              <!--</a>-->
            </div>

            <!--/myCarousel-->
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>© 2024 | Website created by GiftedHands LLC</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Include jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JS after jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Your custom JavaScript file -->
    <script type="text/javascript" src="./static/main.70a66962.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        navActivePage();
      });
    </script>
  </body>
</html>
